.app-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    flex: 5;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Kufam';
   
    .logo{
        .logo-img{
            width: 150px;
            height: 40px;
        }
        flex: 1;
    }
    .header-tabs{
        display: flex;
        justify-content: space-between;
        flex: 3;
        cursor: pointer;
        flex-wrap: wrap;
        padding-right: 20px;

        .header-tab{
            flex: 1;
            display: flex;
            align-items: center;
            padding-left: 10px;
            &--active{
                color: #0A0B3B;
            }
            &--disabled{
                color: #A4A4A4;
            }
        }
    }
    .contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 14px 50px;
        background-color:#3B3A5E ;
        color: white;
    }
}