.footer-container{
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    flex:5;
    border-radius: 5px;
    margin-top: 40px;
    border-top: 2px solid #E4E4E4;
    flex-wrap: wrap;
    .footer-logo{
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        flex:2;
        border-right: 2px solid #E4E4E4;
        .footer-img{
            width: 400px;
            height: 100px;
        }
    }
    .footer-message{
        padding: 20px;
        flex:3;
        display: flex;
        flex-direction: column;
        .footer-header{
            flex: 1;
            color: #3B3A5D;
            font-family: Kufam;
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: 118.5%; 

        }
        .footer-text{
            flex: 4;
            color: #B16642;
            font-family: Source Sans 3;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 118.5%;
            max-width: 451px;
        }
    }
}