
<div class="building-card-wrapper">
  <div class="building-card-container">
    <div class="img-container"> <img class="building-img" src="assets/apart.jpg"></div>
    <div class="building-price">
      2500 $ / Mo
    </div>
    <div class="building-name">
      Comfort Apart
    </div>
    <div class="building-adress"> West Street 1/1</div>
    <div class="building-details">
      <div class="bed"> <img src="assets/bed.svg" alt=""> 3 Beds</div>
      <div class="bath"> <img src="assets/bath.svg" alt=""> 2 Baths</div>
      <div class="parking"><img src="assets/car.svg" alt=""> 1 Park </div>
      <div class="building-size">
        <img src="assets/size.svg" alt=""> 120 sq
      </div>
    </div>
  </div>
  
</div>