
<div class="building-id">
  {{building.id}}
</div>
<div class="building-card-wrapper">
  <div class="building-card-container">
    <div class="img-container"> <img class="building-img" src="assets/apart.jpg"></div>
    <div class="building-price">
      {{building.priceUnit}} {{building.price}}  / {{building.listingType}}
    </div>
    <div class="building-name">
      {{building.name}}
    </div>
    <div class="building-adress"> {{building.address}} </div>
    <div class="building-details">
      <div class="bed"> <img src="assets/bed.svg" alt=""> {{building.beds}} Beds</div>
      <div class="bath"> <img src="assets/bath.svg" alt=""> {{building.baths}} Baths</div>
      <div class="parking"><img src="assets/car.svg" alt=""> {{building.carSpaces}} Park </div>
      <div class="building-size">
        <img src="assets/size.svg" alt=""> {{building.size}} sq
      </div>
    </div>
  </div>
</div>
