
<div class="building-card-wrapper">
  <div class="building-card-container">
    <div class="img-container"> <img class="building-img" src="assets/apart.jpg"></div>
    <div class="building-price">
      2500 $ / Mo
    </div>
    <div class="building-name">
      Comfort Apart
    </div>
    <div class="building-adress"> West Street 1/1</div>
    <div class="building-details">
      <div class="bed"> 3 Beds</div>
      <div class="bath"> 2 Baths</div>
      <div class="parking">1 Parking</div>
      <div class="building-size">
        120 sq
      </div>
    </div>
  </div>
  
</div>