<div class="building-filter-container">
  <div class="header">
    What are you looking for
  </div>
  <div class="city">
    <input id="city" type="text" placeholder="City">
  </div>
  <div class="baths-and-beds">
    <div class="beds">
      <input id="beds" type="number" placeholder="Beds">
    </div>
    <div class="baths">
      <input id="baths" type="number" placeholder="Baths">
    </div>
  </div>
  <div class="price">
    <div class="price-from">
      <input id="priceFrom" type="number" placeholder="priceFrom">
    </div>
    <div class="price-to">
      <input id="priceTo" type="number" placeholder="priceTo">
    </div>
  </div>
  <div class="size">
    <div class="size-from">
      <input id="sizeFrom" type="number" placeholder="sizeFrom">
    </div>
    <div class="size-to">
      <input id="sizeTo" type="number" placeholder="sizeTo">
    </div>
  </div>
  <div class="search-button">
    Search
  </div>

</div>