.employee-tab-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: #3B3A5D;
    font-size: 45px;
    font-family: 'Kufam';
    font-weight: 700;
    font-style: normal;
    padding-bottom: 20px;
}
.employee-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .employee{
        padding-right: 30px;
        padding-top: 23px;
    }
}